* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #002339;
    color: #fff;
    font-size: 16px;
}

.container {
    margin: 6rem;
    width: 90%;
    max-width: 43.75rem;
}

.inp-field {
    width: 100%;
    margin-top: 3rem;
    margin-bottom: 1.875rem;
    background: #fff;
    color: aliceblue;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1.625rem 1.25rem;
    border-radius: 0.3125rem;
}

.container h1 {
    font-weight: 500;
    font-size: 2.8125rem;
}

.container h1 span {
    color: #019f55;
    border-bottom: 0.25rem solid #019f55;
    padding-bottom: 0.4375rem;
}

.inp-field img {
    width: 1.875rem;
    cursor: pointer;
}

.inp-field input {
    border: 0;
    outline: 0;
    font-size: 1.875rem;
}

.container button {
    border: 0;
    outline: 0;
    background: #019f55;
    color: #fff;
    font-size: 2.125rem;
    font-weight: 300;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 1rem 1.625rem;
    border-radius: 0.3125rem;
    cursor: pointer;
}

.length {
    margin-top: 2.5rem;
    display: flex;
    flex-direction: row;
}

.length input {
    border: 0;
    outline: 0;
    width: 100%;
    margin-top: 3.125rem;
    margin-bottom: 1.875rem;
    background: #fff;
    color: aliceblue;
    padding: 1.625rem 1.25rem;
    border-radius: 0.3125rem;
    font-size: 1.5rem;
    color: black;
}

.error h2 {
    display: none;
    color: red;
    display: flex;
    justify-content: flex-start;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 1.125rem;
}

@media (max-width: 768px) {
    body {
        font-size: 14px;
    }

    .container h1 {
        font-size: 1.875rem;
    }

    .container button {
        font-size: 1.75rem;
        padding: 0.75rem 1.25rem;
    }

    .inp-field input {
        font-size: 1.5rem;
    }

    .length input {
        font-size: 1.125rem;
    }

    .container {
        margin: 1.25rem;
    }
}

@media (max-width: 480px) {
    body {
        font-size: 12px;
    }

    .container h1 {
        font-size: 1.5rem;
        margin: 35px;
    }

    .container button {
        font-size: 1.5rem;
        padding: 0.625rem 1.125rem;
    }

    .inp-field input {
        font-size: 1.375rem;
    }

    .length input {
        font-size: 1rem;
    }

    .container {
        margin: 0.625rem;
    }

    .inp-field img {
        width: 1.5rem;
    }
}
